src/main/kotlin/ru/someproject/model/generated/schema1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="schema3.xsd" namespace="http://uri.etsi.org/01903/v1.1.1#" />
  <xs:element name="ServiceProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="type" type="xs:unsignedByte" />
        <xs:element name="zayv_pod" type="xs:unsignedByte" />
        <xs:element name="yavl" type="xs:unsignedByte" />
        <xs:element name="name_obekt" type="xs:string" />
        <xs:element name="mosgos" type="xs:boolean" />
        <xs:element name="number" type="xs:string" />
        <xs:element name="address" type="xs:boolean" />
        <xs:element name="address_orientir" type="xs:string" />
        <xs:element name="result" type="xs:boolean" />
        <xs:element name="okruglist">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="okrug">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="okrug" type="xs:unsignedShort" />
                    <xs:element name="rayon" type="xs:unsignedShort" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="contact_lastname" type="xs:string" />
        <xs:element name="contact_firstname" type="xs:string" />
        <xs:element name="contact_middlename" />
        <xs:element name="contact_phone" type="xs:string" />
        <xs:element name="contact_email" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Object">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Manifest">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Reference">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Transforms">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Transform">
                            <xs:complexType>
                              <xs:attribute name="Algorithm" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DigestMethod">
                      <xs:complexType>
                        <xs:attribute name="Algorithm" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DigestValue" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="URI" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element xmlns:q1="http://uri.etsi.org/01903/v1.1.1#" ref="q1:QualifyingProperties" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>